html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
    background: #161515;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
/* CONTAINERS */
#card {
    background: #161515;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 2% 0%;
}

header {
    width: 100%;
    height: auto;
    padding: 1.5% 2%;
    background-color:#0a0a0a;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#watchList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 50px;
    height: auto;
    padding-bottom: 0;
}
.a {
    border: 1px solid red;
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.search--container {
   display: flex;
}
kbd {
    width: 80%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
}
.movie--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 80%;
    
}

.movie--body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px;
    width: 80%;
}
.controlImg {
    width: auto;
    margin: 0;
    margin-right: 25px;
}
.genreRuntime--container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.no--saved--container {
    background-color: #3a3b3c;
    border-radius: 5px;
    text-align: center;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -2px 5px 5px black;
    margin: 20px 0px;
    padding: 10px 0px;
}

.watchList-btn--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    margin: 0px 15px;
}



/* TEXT */

.site--logo {
    color: white;
    font-family: monospace;
    font-weight: 800;
    font-size: 2.5rem;
    margin-left: 15px;
}

.site--logo-o {
    color: rgb(226, 145, 23);
    background-color: #0a0a0a;
}

.logo--title {
    color: white;
    font-size: 60px;
    margin-bottom: 2%;
    font-weight: 900;
    font-family: monospace;
    
}
.movie--title, .movie--duration, .movie--genre, .movie--rating, .info--separators {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0px;
    padding: 0;
    padding-top: 0;
}
.movie--title {
    font-size: larger;
}
.info--separators {
   margin-right: 15px;
}
.movie--duration, .movie--genre {
    margin-right: 15px;
}
.movie--plot {
    color: gray;
    font-size: medium;
    line-height: 1.5rem 
}
.star {
    margin-right: 15px;
}

.minus {
    width: 50%;
    background: black;
    height: 2px;

}

.camera {
    font-size: 80px;
}

.no--movie--text {
    color: white;
    font-family: monospace;
    margin-bottom: 20px;
}

.added {
    margin-left: 15px;
    color: green;
    font-size: medium;
    text-shadow: -0.5 2px 2px gray;
}
/* INPUT ELEMENTS */
.search {
    width: 80%;
    background: #3a3b3c;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    padding: 18.5px;
    margin: 0;
    font-weight: bold;
    font-size: medium;
}



/* BUTTONS */
.search--btn {
    background: #3a3b3c;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    padding: 20px;
    margin: 0;
    font-weight: bold;
}
.search--btn:hover {
    color: black;
    cursor: pointer;
}
#switch, .a {
    text-decoration: none;
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background: none;
    border: none;
    margin-top: 20px;
    padding-bottom: 20px;
}

#switch:hover {
    color:rgb(226, 145, 23);;
}

#switch--watchlist, #switch--watchlist--delete{
    width: 200px;
    border: none;
    font-weight: bold;
    padding: 20px 0px;
    color: black;
    background-color: white;
    margin: 0;
    
}

#switch--watchlist {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#switch--watchlist--delete{
    color: black;
    background-color: red;
    border-radius: 5px;
    margin: 0;
}


.error {
    background: #161515;
}
.add--to--list, .remove--btn {
    border-radius: 50%;
    border: none;
    width: 20px;
    height: 20px;
    color: black;
    background-color: white;
    font-weight: bolder;
    margin: 0;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ELEMENTS THAT I CANT FIT IN ANOTHER AREA*/
.movie--poster {
    max-width: 150px;
}
.bottom--border {
    width: 100%;
    background-color: #3a3b3c;
    height: 1px;
    margin: 2% 0%;
}


/* NAVBAR */

.hamburger-menu{
    width: 100%;
    height: 5px;
    margin: 2.5px 0px;
    border-radius: 20px;
    background-color: white;
}

.hamburger-menu--container {
    border: 3px solid red;
}
.site--logo {
    margin: 0;
}

#toggleMenu {
    width: 3%;
}

.header--link--container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#0a0a0a;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

/* FOOTER */ 

 footer {
    width: 100%;
    padding: 20px;
    background: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
 }

.footer--author {
    text-decoration: none;
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.footer--author--number {
    background: #0a0a0a;
    color: rgb(226, 145, 23);
}
@media (max-width: 500px) {
    #toggleMenu {
        width: 7%;
    }
    footer {
        height: 50vh;
    }
    
    #switch--watchlist--delete {
        margin-bottom: 15px;
        margin-top:  15%;
    }

    .search {
        width: 80%;
    }
    
    #toggleMenu {
        width: 10%;
    }

    .movie--body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 0px;
        width: auto;
        padding: 10px 10px;
}

    .movie--poster {
    width: 125%;
}
    #results {
        margin: 0 20px;
    }
    .controlImg {
        width: 100%;
        margin: 0;
        margin-top: 50px;
        text-align: center;
        margin-top: 0;
    }

    #card {
        width: auto;
        height: auto;
        align-items: center;
        justify-content: flex-start;;
        text-align: center;
        height: auto;
        margin: 0 ;
    }

    
    .logo--title {
        color: white;
        bottom: 0;
        font-size: 1.6rem;
        margin-top: 50px;
    }

    .footer--author  {
        font-size: 1rem;
    }

    .movie--title {
        font-size: 1.3rem;
    }

    .genreRuntime--container {
        width: 120%;
    }

    .movie--plot{
        width: 80vw;
    }

    
    .movie--card {
        width: 100%;
    }

    .movie--genre, .movie--duration, .movie--rating, .info--separators {
        font-size: 0.5rem;
        margin: 0px 2px;
    }

   

    kbd { width:80%; margin-bottom: 10px;
    display: flex; align-items: center; justify-content: center;}

    .star {
        font-size: x-small;
        margin-right: 5px;
        margin-left: 5px;
    }

    .add--to--list {
        width: 15px;
        height: 15px;
    }

    

    #switch {
        font-size: 1rem;
        margin: 2px 0px;
        padding: 5px 0px;
    }
    
    #watchList {
        padding: 15px 0;
    }

    .no--saved--container {
        width: 80vw;
        margin: 0px 50px;
        padding: 10px;
        margin-top:  0;
    }

    .no--movie--text {
        font-size: 1.2rem;
    }
    footer {
        padding: 20px;
        height: 10%;
    }
    .site--logo {
        margin: 0;
        padding: 0;
        font-size: 1.7rem;
    }
    .search {
        margin: 0;
    }
}