 html, body {
    margin: 0;
    background: #161515;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100vh;
    height: 80vw;
    width: auto;
    box-sizing: border-box;
}



#card {
    background-image: url("space.jpg");
    background-size: cover;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100vw;
}

#watchList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}


.logo--title {
    color: white;
    font-size: 60px;
    padding-bottom: 0;
    font-weight: 900;
    font-family: monospace;
}

kbd { width: 60%;
    margin-bottom: 0;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.search {
    width: 80%;
    background: #3a3b3c;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    padding: 18px;
    margin: 0;
    font-weight: bold;
    font-size: medium;
}

.search--btn {
    background: #3a3b3c;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    padding: 20px;
    margin: 0;
    font-weight: bold;
}

.search--btn:hover {
    color: black;
    cursor: pointer;
}

.search--container {display: flex;}



#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie--card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 80%;

}

.movie--body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    width: 80%;
    justify-content: space-between
}



.movie--poster {
    max-width: 150px;
}

.controlImg {
    width: auto;
    margin: 0;
    margin-right: 25px;
}


.movie--title, .movie--duration, .movie--genre {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
    padding: 0;
    padding-top: 0;
}

.genreRuntime--container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    
}

.movie--duration, .movie--genre {
    margin: 0px 0px;
}

.movie--plot {
    color: gray;
    font-size: medium;
    line-height: 1.5rem
}


span {
    width: 100%;
    background-color: #3a3b3c;
    height: 1px;
    color: red; 

}

#switch {
    width: 100px;
    border: none;
    font-weight: bold;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 0px;
    position: fixed;
    color: black;
    background-color: white;

}

.add--to--list {
    border-radius: 50%;
    border: none;
    width: 15px;
    height: 15px;
    color: black;
    background-color: white;
    font-weight: bolder;
    margin: 0;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {

    .search {
        width: 80%;
    }
    
    .movie--body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
        width: 50%;
        justify-content: space-between
}

    .movie--poster {
    width: 125%;
}

    .controlImg {
        width: 100%;
        margin: 0;
        margin-top: 50px;
        text-align: center;
        margin-top: 0;
    }

    #card {
        background-image: url("space.jpg");
        background-repeat: no-repeat;
        width: 100vw;
        height: auto;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        height: 30vh;
        padding: 0;
    }
    
    .logo--title {
        color: white;
        bottom: 0;
        font-size: 2.3rem;
        margin-top: 50px;
    }

    .movie--title {
        font-size: 1.3rem;
    }

    .genreRuntime--container {
        width: 100%;
    }

    .movie--plot{
        width: 100%;
    }

    .movie--body{
        width: 100vw;
        height: auto;
        padding: 10px 0px;
    }
    
    .movie--card {
        width: 100%;
    }

    .movie--genre, .movie--duration {
        font-size: 0.6rem;
    }

    .search {width: 50%; padding: 15px}

    .search--btn {padding: 15px;}

    kbd { width: 100%; margin-bottom: 0;
    display: flex; align-items: center; justify-content: center;}
}

