html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
    background: #161515;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
/* BODIES */
#card {
    background: #161515;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    margin-top: 3%;
}

header {
    width: 100%;
    height: auto;
    padding: 1.5% 0%;
    background-color:#0a0a0a;
    border-bottom: 1px solid #161515;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#watchList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 2%;
    padding: 50px;
}
#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.search--container {
   display: flex;
}
kbd {
    width: 80%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
}
.movie--card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 80%;
}

.movie--body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    width: 80%;
    justify-content: space-between 
}
.controlImg {
    width: auto;
    margin: 0;
    margin-right: 25px;
}
.genreRuntime--container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.no--saved--container {
    background-color: #3a3b3c;
    border-radius: 5px;
    text-align: center;
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -2px 5px 5px black;
}

.watchList-btn--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    margin: 0px 15px;
}

.header--link--container {
    margin-right: 15px;
}

/* TEXT */

.site--logo {
    color: white;
    font-family: monospace;
    font-weight: 800;
    font-size: 30px;
    margin-left: 15px;
}

.site--logo-o {
    color: rgb(226, 145, 23);
    background-color: #0a0a0a;
}

.logo--title {
    color: white;
    font-size: 60px;
    margin-bottom: 2%;
    font-weight: 900;
    font-family: monospace;
    
}
.movie--title, .movie--duration, .movie--genre, .movie--rating, .info--separators {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0px;
    padding: 0;
    padding-top: 0;
}
.movie--title {
    font-size: larger;
}
.info--separators {
   margin-right: 15px;
}
.movie--duration, .movie--genre {
    margin-right: 15px;
}
.movie--plot {
    color: gray;
    font-size: medium;
    line-height: 1.5rem 
}
.star {
    margin-right: 15px;
    margin-left: 5px;
}

.minus {
    width: 50%;
    background: black;
    height: 2px;

}

.camera {
    font-size: 80px;
}

.no--movie--text {
    color: white;
    font-family: monospace;
    margin-bottom: 20px;
}

.added {
    width: 20px;
    color: black;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: medium;
    text-shadow: -0.5 2px 2px gray;
}
/* INPUT ELEMENTS */
.search {
    width: 80%;
    background: #3a3b3c;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    padding: 18.5px;
    margin: 0;
    font-weight: bold;
    font-size: medium;
}


/* BUTTONS */
.search--btn {
    background: #3a3b3c;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    padding: 20px;
    margin: 0;
    font-weight: bold;
}
.search--btn:hover {
    color: black;
    cursor: pointer;
}
#switch, .a {
    text-decoration: none;
    font-family: monospace;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background: none;
    border: none;
    margin-right: 20px;
}

#switch:hover {
    color:rgb(226, 145, 23);;
}

#switch--watchlist, #switch--watchlist--delete{
    width: 200px;
    border: none;
    font-weight: bold;
    padding: 20px 0px;
    color: black;
    background-color: white;
    margin: 0;
    
}

#switch--watchlist {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#switch--watchlist--delete{
    color: black;
    background-color: red;
    margin-left: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.add--to--list, .remove--btn {
    align-content: center;
    border-radius: 50%;
    border: none;
    width: 20px;
    height: 20px;
    color: black;
    background-color: white;
    font-weight: bolder;
    margin: 0;
    margin-left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ELEMENTS THAT I CANT FIT IN ANOTHER AREA*/
.movie--poster {
    max-width: 150px;
}
span {
    width: 100%;
    background-color: #3a3b3c;
    height: 1px;
}

@media (max-width: 500px) {


    
    header {
        justify-content: space-between;
        padding: 5% 3%;
        border-bottom: 1px solid #0a0a0a;
    }
    .hamburger-menu--container {
        border: 3px solid red;
    }
    .site--logo {
        margin: 0;
    }
    
#toggleMenu {width: 100%;}
    #toggleMenu {
        width: 10%;
    }
    .hamburger-menu{
        width: 100%;
        height: 5px;
        margin: 2.5px 0px;
        border-radius: 20px;
        background-color: wheat;
    }

    .header--link--container {
        display: none;
        background-color:#0a0a0a;
        margin: 0;
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 5px;

        
    }
    .search {
        width: 80%;
    }
    
    

    .movie--body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 0px;
        width: 50%;
        padding: 0;
        justify-content: space-between
}

    .movie--poster {
    width: 125%;
}

    .controlImg {
        width: 100%;
        margin: 0;
        margin-top: 50px;
        text-align: center;
        margin-top: 0;
    }

    #card {
        width: 100vw;
        height: auto;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        height: 30vh;
        padding: 0;
        top: 0;
        margin-bottom: 8%;
    }

    #watchList {margin-top: 100%; padding-top: 5%;}
    
    .logo--title {
        color: white;
        bottom: 0;
        font-size: 2.3rem;
        margin-top: 50px;
    }

    .movie--title {
        font-size: 1.3rem;
    }

    .genreRuntime--container {
        width: 120%;
    }

    .movie--plot{
        width: 100%;
    }

    .movie--body{
        width: 100vw;
        height: auto;
        padding: 10px 0px;
    }
    
    .movie--card {
        width: 100%;
    }

    .movie--genre, .movie--duration, .movie--rating, .info--separators {
        font-size: 0.5rem;
        margin: 0px 2px;
    }

   

    kbd { width:80%; margin-bottom: 10px;
    display: flex; align-items: center; justify-content: center;}

    .star {
        font-size: x-small;
        margin-right: 5px;
        margin-left: 5px;
    }

    .add--to--list {
        width: 15px;
        height: 15px;
    }

    .no--saved--container {
        margin-top: 10%;
        width: 90%;
        padding: 10px;
    }

    #switch {
        width: 50%;
        padding: 5px;
    }
    .watchList-btn--container {
        flex-direction: column;
    }

    #switch--watchlist {
        padding: 10px;
        margin-top: 2%;
        border-radius: 5px;
    }
     
    #switch--watchlist--delete {
        margin: 0;
        width: 40%;
        margin-top: 2%;
        padding: 10px;
        border-radius: 5px;
    }
}

