 html, body {
    margin: 0;
    background: #161515;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100vh;
    height: 80vw;
    width: auto;
    box-sizing: border-box;
}

#card {
    background-image: url("movie.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    object-fit: contain;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.logo--title {
    color: white;
    bottom: 0;
    font-size: 60px;
    padding-bottom: 0;;
}

kbd {width: 50%; text-align: center;}

.search {
    width: 80%;
    background: #3a3b3c;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    padding: 20px;
    margin: 0;
    font-weight: bold;
    font-size: medium;
}

.search--btn {
    background: #3a3b3c;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    padding: 20px;
    margin: 0;
    font-weight: bold;
}

.search--btn:hover {
    color: black;
    cursor: pointer;
}

.search--container {display: flex;}



#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie--card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 80%;

}

.movie--body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    width: 80%;
    justify-content: space-between
}



.movie--poster {
    max-width: 150px;
}

.controlImg {
    width: auto;
    margin: 0;
    margin-right: 25px;
}


.movie--title, .movie--duration, .movie--genre {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}

.genreRuntime--container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.movie--duration, .movie--genre {
    margin: 0px 10px;
}

.movie--plot {
    color: gray;
    font-size: medium;
    line-height: 1.5rem
}


span {
    width: 100%;
    background-color: #3a3b3c;
    height: 1px;
    color: red; 
}

#switch {
    width: 100px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 0px;
}

.add--to--list {
    padding: 2px 2px;
    font-family: bolder;
    text-align: center;
    border: none;
    width: 10%;
    height: 10%;
    color: black;
    background-color: white;
    font-weight: bolder;
}

@media (max-width: 800px) {
    
    .search {
        width: 80%;
    }
    
    .movie--body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
        width: 50%;
        justify-content: space-between
}

    .movie--poster {
    width: 100%;
}

    .controlImg {
        width: 75%;
        margin: 0;
        margin-top: 50px;
        text-align: center;
        margin-top: 0;
    }

    #card {
        width: 100vw;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        height: 30vh;
        padding: 0;
    }
    
    .logo--title {
        color: white;
        bottom: 0;
        font-size: 2.3rem;
    }

    .movie--title {
        font-size: 1.3rem;
    }

    .genreRuntime--container {
        width: 100%;
    }

    .movie--plot{
        width: 100%;
    }

    .movie--body{
        width: 100vw;
        height: auto;
        padding: 10px 0px;
    }
    
    .movie--card {
        width: 100%;
    }

    .movie--genre, .movie--duration {
        font-size: 0.6rem;
    }

    .search {width: 50%;}

    .search, .search--btn {padding: 15px; margin-bottom: 15px;}

    kbd { width: 100%;}
}

